.button{
	-fx-background-color: #0000cc;
	-fx-border-color: white;
	-fx-border-radius: 3;
	-fx-border-width: 3;
	-fx-text-fill: white;
	-fx-min-width: 100;
	
}
.textbox{
	-fx-background-color: blue;
	-fx-border-color: azure ;
	-fx-border-image-width: 2;
	-fx-background-size:30.0%; 
}
.button:hover{
	-fx-effect: dropshadow(gaussian,white, 10,0,0,0);
}
.buttonsMenu{
 	-fx-background-color: #0000cc;
	-fx-border-color: white;
	-fx-border-radius: 3;
	-fx-border-width: 3;
	-fx-text-fill: white;
	-fx-min-width: 500;
}

.root{
	-fx-background-image: url("bg.jpg");
	-fx-background-repeat: stretch;
	-fx-background-position: left top ;
	-fx-background-size: cover   ;
	
}

.label{
	-fx-text-fill: white;
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

.title{
	-fx-text-fill: white;
	-fx-font-size: 90;
	-fx-font-weight: bold;	
}

.mainTitle{
	-fx-text-fill: white;
	-fx-font-size: 100;
	-fx-font-weight: bold;
	-fx-font-family: "Times New Roman", Times, serif;
	-fx-font-style: normal ;
	-fx-effect: dropshadow(one-pass-box,#0000cc,4,4,4,4);	
}

.outline.label .text{
	-fx-stroke: black;
    -fx-stroke-width: 2;
}


.sub-title-label{
	-fx-text-fill: #FAFAFA;
	-fx-font-size: 50;
	-fx-font-weight: bold;
}

/* GAME STYLE */

.game-label {
    -fx-border-width: 2;
    -fx-border-color: orange;
    -fx-background-color: black;
    -fx-text-fill:  white;
    
   /* -fx-padding: 10 20; 
    -fx-min-width: 200;
    -fx-alignment: center;*/
}

.game-status {
    -fx-alignment: top-center;
}

/* END GAME STYLE */

.temp{
	-fx-opacity: 1;
}